# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [7]:
number = 56

number

56

##### Assinging float

In [10]:
numfloat = 5.75
numfloat

5.75

#### Performing Calculations on ints and floats

##### Addition

In [19]:
num = 1
num1 = 5 
num2 = 10
num3 = 53

addresult = num + num2
print(addresult)
randonumber = 6 + 98
print(randonumber)


#there is a shorthand version!!!
#  +=

randonumber += 4
#This is actually saying randonumber = randonumber + 4
print(randonumber)

11
104
108

##### Subtraction

In [20]:
diff_result = num3 - num1
print(diff_result)

#shorthand -=

48

##### Multiplication

In [21]:
productex = num2 * num3
print(productex)

530

In [ ]:
#shorthand *=

##### Division

In [22]:
simplediv = num3 / num2
print(simplediv)

5.3

In [ ]:
#shorthand /=
#result is always a float!

##### Floor Division

In [23]:
floorex = 13 // 4
print(floorex)

3

In [ ]:
#shorthand //=

##### Modulo

In [24]:
remainex = 13 % 4
print(remainex)

1

In [ ]:
# shorthand %=

##### Exponential

In [25]:
exponentex = 5 ** 2
print(exponentex)

25

In [ ]:
#shorthand **=

### String Input-Output

##### String Assignment

In [27]:
stringy = 'This is Brendan\'s string!'
stringy2 = "So is this one!"
print(stringy)
stringy = ' It does change!'
print(stringy)

This is Brendan's string!
 It does change!

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
fname = 'Brandt'
lname = 'Carlson'
name = 'Brandt Carlson'

In [32]:
print('This is my name:')
print(' ', fname, end=lname, sep='_')

This is my name:
 _BrandtCarlson

##### String Concatenation

In [35]:
full_name = fname + ' ' + lname
print(full_name)

full_name += '!'
print(full_name)

Brandt Carlson
Brandt Carlson!

##### Type Conversion

In [36]:
another_num = '59'

print(another_num, type(another_num))
changed_num = int(another_num)

print(changed_num, type(changed_num))

59 <class 'str'>
59 <class 'int'>

### Note on type/value equality vs assignment

In [ ]:
#   =   vs   ==
#   =  is ASSIGNING  => a variable, a value, etc.
#   ==  is CHECKING EQUALITY (both type and value)

##### input()

In [42]:
# input always returns a string.   ALWAYS
name = input("what's your name?")
age = input("How old are you?")

print(name, type(name),'\n',type(age), age)
new_age = int(age) + 100000
print(new_age)

what's your name?Brandt
How old are you?50
Brandt <class 'str'>
 <class 'str'> 50
100050

##### format()

In [43]:
res_string = "You're {} {}, getting old!".format(age, name)
print(res_string)

You're 50 Brandt, getting old!

In [44]:
# BUT the f-string is sooo much better!
print(f"{name}, man you're now {age} years old!")

Brandt, man you're now 50 years old!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [45]:
color = input('Color?')
make = input('Make?')
model = input('model?')
year = input('Year?')

print(f"Oh sweet, this is a {year} {make} {model} in the very rare color of {color}!")

Color?Blue
Make?Nissan
model?Maxima
Year?2000
Oh sweet, this is a 2000 Nissan Maxima in the very rare color of Blue!

### If Statements

In [48]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T 
# T || F = T  
# F || T = T
# F || F = F


num6 = 80
num7 = 14


if num6 == num7:
    print('Yep, they are equal!')
else:
    print('not equal. . . ')
    
if num6 >= num7:
    print('The first one is bigger!')
else:
    print('NOPE, 2nd num is greater')

not equal. . .
The first one is bigger!

##### 'is' keyword

In [54]:
# we use this when we're checking the same/similar object, NOT the same value
num8 = 13.0
num9 = 13
print(type(num8), type(num9))
print('\n')

if num8 is num9:
    print('YEP it is!')
else:
    print('nope it is not')

<class 'float'> <class 'int'>


nope it is not

##### 'in' keyword

In [56]:
# Membership check!

awake = 'Connor A'
if 'A' in awake:
    print('a is in this name!')

a is in this name!

##### 'not in' keyword'

In [57]:
if 'a' not in awake:
    print('NOT in this name')

NOT in this name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

## Using 'and'/'or' with If Statements

In [61]:
num10 = 25
num11 = 35
num12 = 50
num13 = 35

In [65]:
if num11 == num13 and num12 - num10 == 25:
    print('True and True')
    
if num11 > num10 or num10 > num13:
    print('True || False')

True and True
True || False

### Elif Statements

In [67]:
first_name = 'Max'

if first_name == 'Marla':
    print('The name is Marla!')
elif first_name == 'Max':
    print("We've hit our elif conditional block!")
else:
    print('none of the previous conditionals hit!')

We've hit our elif conditional block!

### Else Statements

In [ ]:
# see above

### For Loops

In [70]:
# for <variable> in <iterable>:

my_name = "Brandt Carlson"

for x in my_name:
    print(x)
    
# for i in range(len(my_name)):
#     print(i, my_name[i])

B
r
a
n
d
t

C
a
r
l
s
o
n
0 B
1 r
2 a
3 n
4 d
5 t
6
7 C
8 a
9 r
10 l
11 s
12 o
13 n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [72]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

##### Break Statement

In [ ]:
# will break out of current loop

In [73]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [75]:
for letter in my_name:
    pass  #TODO need to build out this function later

##### Double For Loops

In [77]:
for i in range(5):
    for y in range(5):
        print(f"i-{i} \ty-{y}")

i-0 	y-0
i-0 	y-1
i-0 	y-2
i-0 	y-3
i-0 	y-4
i-1 	y-0
i-1 	y-1
i-1 	y-2
i-1 	y-3
i-1 	y-4
i-2 	y-0
i-2 	y-1
i-2 	y-2
i-2 	y-3
i-2 	y-4
i-3 	y-0
i-3 	y-1
i-3 	y-2
i-3 	y-3
i-3 	y-4
i-4 	y-0
i-4 	y-1
i-4 	y-2
i-4 	y-3
i-4 	y-4

### While Loops

In [83]:
# while keyword + condition statement:

counter = 0
while counter < 6:
    print(counter)
    counter += 1

0
1
2
3
4
5

##### Looping 'While True'

In [84]:
while True:
    counter +=1
    print(counter)
    if counter >= 11:
        break

7
8
9
10
11

##### While & For Loops Used Together

In [87]:
count = 0

while count <2:
    print(f'While loop #-{count}')
    for x in range(3):
        print(f"For Loop #-{x}")
    count += 1

While loop #-0
For Loop #-0
For Loop #-1
For Loop #-2
While loop #-1
For Loop #-0
For Loop #-1
For Loop #-2

### Built-In Functions

##### range()

In [89]:
# start, stop, step
for x in range(0, 5, 1):
    print(x)
print('\n')
# for x in range(0, 5):
#     print(x)
# print('\n')
# for x in range(5):
#     print(x)
# print('\n')

0
1
2
3
4

In [91]:
print(type(range(5)))

<class 'range'>

##### len()

In [92]:
len(my_name)

14

##### help()

In [97]:
# USE THIS!!!
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [100]:
# check a variable to find out if it is what you think it is

print(isinstance('56', str)) #returns boolean -True here

print(isinstance(56, str)) # False, int

True
False

##### abs()

In [101]:
abs(-5)

#Math terminology |-5|  => 5

5

### Try and Except

In [105]:
# use this for error handling when you think you may encounter a bug!
# Basically to keep from breaking/crashing

try:
    a_test = 11
    input_num = int(input('Guess a number'))
    if input_num == a_test:
        print(f'You guessed it!!! {a_test}')
except:
    print("that did not work!  Why don't you try a number?")

Guess a number11
You guessed it!!! 11

### Lists

##### Declaring Lists

In [109]:
my_list = [ 1, 2, 3, 4]
print(my_list, type(my_list))

[1, 2, 3, 4] <class 'list'>

In [124]:
names = ['Brendan', 'Jason', 'Kaytlin', 'David']

##### Indexing a List

In [116]:
# We use brackets [] to access indices
print(names[2])
print(names[2].upper())

Kaytlin
KAYTLIN

##### .append()

In [125]:
names.append('Connor')
print(names)

['Brendan', 'Jason', 'Kaytlin', 'David', 'Connor']

##### .insert()

In [126]:
names.insert(0, 'Brandt')
print(names)

['Brandt', 'Brendan', 'Jason', 'Kaytlin', 'David', 'Connor']

##### .pop()

In [127]:
best = names.pop(2)
print(names)
names.append(best)
print(names)

['Brandt', 'Brendan', 'Kaytlin', 'David', 'Connor']
['Brandt', 'Brendan', 'Kaytlin', 'David', 'Connor', 'Jason']


##### .remove()

In [128]:
names.append(best)
names.append(best)
names.append(best)
names.append(best)
print(names)

['Brandt', 'Brendan', 'Kaytlin', 'David', 'Connor', 'Jason', 'Jason', 'Jason', 'Jason', 'Jason']

In [130]:
# Removes the value NOT the index
# removes teh first instance of that value it finds
names.remove('Jason')
print(names)

while "Jason" in names:
    names.remove('Jason')
print(names)

['Brandt', 'Brendan', 'Kaytlin', 'David', 'Connor', 'Jason', 'Jason', 'Jason']
['Brandt', 'Brendan', 'Kaytlin', 'David', 'Connor']

##### del()

In [131]:
# works on the index, NOT the value
del(names[3])
print(names)

['Brandt', 'Brendan', 'Kaytlin', 'Connor']

##### Concatenating Two Lists

In [133]:
# will append 2 lists together, not sorting them

l1 = [1, 2, 3]
l2 = [4, 5, 6]

l3 = l2 + l1
print(l3)

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

In [138]:
# we can put all kinds of stuff in lists!  Including lists. . . this can be nested many layers deep!

next_names = ['Brendan', 'Rachel', 'Aften', ['Yousif', 'Robin', 'Edward']]
print(next_names[2]) #Aften
print(next_names[3]) # that whole list
print(next_names[3][0]) # Yousif

Aften
['Yousif', 'Robin', 'Edward']
Yousif

##### Looping Through Lists

In [140]:
# Same as above!  Well, mostly. . . 
# Lists are iterable!

#simple for loop
for name in names:
    print(name)
    
#index loop
for i in range(len(names)):
    print(i, names[i])

Brandt
Brendan
Kaytlin
Connor
0 Brandt
1 Brendan
2 Kaytlin
3 Connor

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [10]:
number = 1
cubed_number = 0
while cubed_number < 1000:
    cubed_number = number * number * number
    print(cubed_number)
    number += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

num = 2
while num < 101:
    if num == 2 or num == 3 or num == 5 or num == 7:
        print(num)
        num +=1
    elif num % 2 == 0:
        num += 1
    elif num % 3 == 0:
        num += 1
    elif num % 5 == 0:
        num += 1
    elif num % 7 == 0:
        num += 1
    else:
        print(num)
        num +=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [11]:
age = input("What is your age:")
if int(age) < 18:
    print("You are a kid.")
elif int(age) > 65:
    print("You are a senior.")
else:
    print("You are an adult.")

What is your age:26
You are an adult.